---
import Section from "../Section.astro"
import HTML from "@/icons/html.astro"
import CSS from "@/icons/css.astro"
import JavaScript from "@/icons/javascript.astro"
import TypeScript from "@/icons/type.astro"
import React from "@/icons/react.astro"
import Node from "@/icons/node.astro"
import MySQL from "@/icons/sql.astro"
import Git from "@/icons/git.astro"
import GitHub from "@/icons/GitHub.astro"
import Tailwind from "@/icons/tailwind.astro"
import Communication from "@/icons/communication.astro"
import Teamwork from "@/icons/teamwork.astro"
import ProblemSolving from "@/icons/problemsolving.astro"
import PresentationCapacity from "@/icons/presentation.astro"
import TimeManagement from "@/icons/time.astro"
import Next from "@/icons/next.astro"
import { softskills } from "@cv"
import i18n from '../../locales/en.json';

const SKILLS_ICONS: Record<string, any> = {
  HTML,
  CSS,
  JavaScript,
  TypeScript,
  React,
  Node,
  MySQL,
  Git,
  GitHub,
  Next,
  Tailwind,
  Communication,
  Teamwork,
  ProblemSolving,
  PresentationCapacity,
  TimeManagement,
}
---

<Section id="skills" title=`${i18n.softskills.title}`>
  <ul>
    {
      softskills.map(({ name }) => {
        const iconName = name === "Next.js" ? "Next" : name.replace(" ", "")
        const Icon = SKILLS_ICONS[iconName]

        return (
          <li>
            {Icon && <Icon />} <span>{name}</span>
          </li>
        )
      })
    }
  </ul>
</Section>

<style>
  ul {
    display: inline-flex;
    gap: 8px;
    flex-wrap: wrap;
  }

  li {
    align-items: center;
    background: #eee;
    border-radius: 6px;
    color: black;
    display: flex;
    font-size: 1.5rem;
    font-weight: 500;
    gap: 4px;
    padding: 0.2rem 0.6rem;
  }
</style>
