---
import Layout from "@/layouts/Layout.astro"

import About from "@/components/sections/About.astro"
import Education from "@/components/sections/Education.astro"
import Experience from "@/components/sections/Experience.astro"
import Hero from "@/components/sections/Hero.astro"
import Projects from "@/components/sections/Projects.astro"
import Skills from "@/components/sections/SoftSkills.astro"
import ProgrammingSkills from "@/components/sections/ProgrammingSkills.astro"
import KeyboardManager from "@/components/KeyboardManager.astro"
import Sidebar from "@/components/Sidebar.astro"
import i18n from '../locales/en.json';

import { basics } from "@cv"
import { translate } from "./i8n";
const { name, label } = basics
const portf = translate('en', 'portfolioof.title', { name })
---
<Layout title={`${portf} ${name} - ${label}`}>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
  <!-- <Sidebar /> -->
  <main>
    <Hero />
    <About />
    <ProgrammingSkills />
    <Skills />
    <Experience />
    <Projects />
    <Education /> 
  </main>

  <KeyboardManager />
</Layout>

<style>
  main {
    padding: 4rem;
    margin: auto;
    width: 100%;
    font-family: 'Montserrat';
  }

  @media (width <= 700px) {
    main {
      padding: 2rem;
    }
  }
</style>